.dropdown select{
    background:transparent;
     width: 50px;
     padding: 2px;
     font-size:14px;
     font-weight:600;
     color:#34302B;
     line-height: 1;
     border: 0;
     border-radius: 0;
     /*Hides the default arrows for Selects*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    position: relative;
}
 
.dropdown{
    width: 50px;
    overflow: hidden;
    background: no-repeat right white;
    border-top:#34302B 1px solid;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: inset 0 2px 4px #34302B, 0 1px 2px #34302B;
    -moz-box-shadow: inset 0 2px 4px #34302B, 0 1px 2px #34302B;
    box-shadow: inset 0 2px 4px #34302B, 0 1px 2px #34302B;
    -moz-box-shadow:    0px 8px 3px -9px #34302B;
    -webkit-box-shadow: 0px 8px 3px -9px #34302B;
    box-shadow:         0px 8px 3px -9px #34302B;  
}
  
.dropdown {
    position: relative;
}
  
.dropdown:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #34302B;
}
  
.dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}
  
select > option {
    background: #D3D3D3;
    color: #34302B;
}




/* General Sections */
.buttonWhite{
    background-color: #F2F2F2;
    color:#298FC2;
    height: 30px;
    width:100%;
    padding:0px 10px 0px 10px;
    font-size: 12px;
    border: 1px solid #298FC2;
}
.buttonWhite:hover{
    color: #F2F2F2;
    background-color:#14506B;
}
.buttonWhite:focus{
    color: #F2F2F2;
    background-color:#14506B;
}
.buttonWhite:disabled{
    color: #F2F2F2;
    background-color:#9ECEE4;
}
.buttonWhite:active{
    color: #F2F2F2;
    background-color:#14506B;
    outline: 2px solid #14506B;
    outline-offset: 3px;
}
.buttonContainer{
    width: 90%; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}


/* input wiht magnifying glass on right */
.inputIconWrap{
    border: 2px solid #34302B;    
    display: flex;
    flex-direction: row;
}
.buttonMag{
    flex: 0 0 auto;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}
.buttonMag:hover{
    background-color:#F2F2F2;
}
.buttonMag:active{
    background-color:#F2F2F2;
    outline: 2px solid #14506B;
    outline-offset: 4px;
}
.inputSubmitButtonWrap{
    border: 2px solid #34302B;    
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:225px;
    height:25px;
}
.inputButtonSubmit{
    flex: 0 0 auto;
    color:#F2F2F2;
    background-color:#34302B;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}
.inputButtonSubmit:hover{
    color:#F2F2F2;
    background-color:#14506B;
}
.inputButtonSubmit:active{
    color:#F2F2F2;
    background-color:#14506B;
    outline: 2px solid #14506B;
    outline-offset: 4px;
}
.inputFlex10{
    flex: 1 0 8em;
}