.some{
    background-color: brown;
}
.backgroundColorBlack{
    background-color: black;
}
.colorWhite{
    color:white;
}
.ulFlex{
    display: flex;
    justify-content:space-around;

    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    text-align: center;
}
.listStyleTypeNone li{
    list-style-type: none;
    display:inline;
}
.listStyleTypeNone li a{
    color:white;
}
.listStyleTypeNone li input{
    width: 100%;
    font-size: 18px;
    min-height:40px;
}
.listStyleTypeNone .displayFlexColumn{
    display:flex;
}
.displayFlexRow{
    display:flex;
    align-items: center;
    justify-content: center;
}
.displayFlexColumn{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.justifyContentCenter{
    justify-content: center;
}
.alignItemsCenter{
    align-items: center;
}
.alignItemsLeft{
    align-items: flex-start;
}
.flex1{
    flex:1;
}
.width5per{
    width:5%;
}
.width10per{
    width:10%;
}
.width15per{
    width:15%;
}
.width20per{
    width:20%;
}
.width55per{
    width:55%;
}
.width60per{
    width:60%;
}
.width65per{
    width:65%;
}
.width70per{
    width:70%;
}
.width10per{
    width:10%;
}
.width100{
    width:100%;
}
.height100{
    height:100%;
}
.square10{
    width:10px;
    height:10px;
}
.square15{
    width:15px;
    height:15px;
}
.square30{
    width:30px;
    height:30px;
}
.square60{
    width:60px;
    height:60px;
}
.navTop{
    background-color: black;
}
.nav2ndrow{
    background-color: #298fc2;
}
.nav3rdrow{
    background-color: black;
}
.nav3rdrow ul li{
    width:15%;
}
.fontsize8px{
    font-size: 8px;
}
.fontsize10px{
    font-size: 10px;
}
.paddingTopBottom20px{
    padding: 20px 0px 20px 0px;
}
.paddingTopBottom5px{
    padding: 5px 0px 5px 0px;
}
.paddingTopBottom10px{
    padding: 10px 0px 10px 0px;
}
.borderRadius10px{
    border-radius: 10px;
}
.borderRadius15px{
    border-radius: 15px;
}
.borderRadius20px{
    border-radius: 20px;
}
.paddingLeft5px{
    padding-left: 5px;
}