
/* Nav Styles */
.topBarFixed {
    position: fixed;
    min-width: auto;
    box-shadow: 
}
.topBar {
    border-top: 3px solid #F48024;
     /* box-shadow: 0 1px 0 rgba(12,13,14,0.15); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1090px;
    z-index: 1050;
    background-color: #fafafb;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    height: 50px;
    box-sizing: border-box;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
@media screen and (max-width: 1090px)
.topBar .container {
    padding-left: 0;
    padding-right: 8px;
    margin: 0;
    max-width: calc(100vw - 24px);
}
.container {
    max-width: 1060px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* padding: 0 15px; */
    box-sizing: content-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.topBarLeft {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
@media screen and (max-width: 640px)
.topBarRight {
    padding-left: 0;
}
.topBarRight{
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 48px;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
.item {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    padding-bottom: 0;
    height: 100%;
}